
gitdb==4.0.10
GitPython==3.1.30
importlib-metadata==6.0.0
jsonschema==4.17.3
markdown-it-py==2.1.0
MarkupSafe==2.1.2
numpy==1.24.1
pandas==1.5.3
protobuf==3.20.3
pyarrow==10.0.1
pymongo==4.3.3
python-dateutil==2.8.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
smmap==5.0.0
snscrape==0.5.0.20230113
streamlit==1.17.0
toml==0.10.2
